!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="language" content="en")
    
    / Bootstrap CSS framework
    - Yii::app()->clientScript->registerCssFile(Yii::app()->theme->baseUrl.'/css/bootstrap.min.css');
    :php 
      /* Uncomment to add responsiveness to your layout 
        Yii::app()->clientScript->registerCssFile(Yii::app()->theme->baseUrl.'/css/bootstrap-responsive.min.css'); 
      */

    - Yii::app()->clientScript->registerScript('bootstrap', Yii::app()->theme->baseUrl.'/js/bootstrap.min.js');
  
    / Your layout
    - Yii::app()->clientScript->registerCssFile(Yii::app()->theme->baseUrl.'/css/site.css');

    %title= CHtml::encode($this->pageTitle);

  %body
    %header
      :php
        $this->widget('bootstrap.widgets.BootNavbar', array(
            'fixed' => true,
            'brand' => Yii::app()->name,
            'brandUrl'=>'/',
            'collapse'=>true, // requires bootstrap-responsive.css
            'items'=>array(
                array(
                    'class'=>'bootstrap.widgets.BootMenu',
                    'items'=>array(
                        array('label'=>'Home', 'url'=>array('/site/index')),
                        array('label'=>'About', 'url'=>array('/site/page', 'view'=>'about')),
                array('label'=>'Contact', 'url'=>array('/site/contact')),
                array('label'=>'Login', 'url'=>array('/site/login'), 'visible'=>Yii::app()->user->isGuest),
                array(
                  'label'=>'Logout ('.Yii::app()->user->name.')', 
                  'url'=>array('/site/logout'), 
                  'visible'=>!Yii::app()->user->isGuest)
                    ),
                ),
            ),
        ));
    / header
    
    #page.container
    
      - if(isset($this->breadcrumbs)):
        :php
          $this->widget('zii.widgets.CBreadcrumbs', array(
            'links'=>$this->breadcrumbs,
          )); 
        / breadcrumbs
    
      = $content;
    
      .clear
    
      #footer
        Copyright &copy; #{date('Y');} by My Company.<br/>
        All Rights Reserved.<br/>
        = Yii::powered();
      / footer
    
    / page