[submodule "protected/extensions/bootstrap"]
	path = protected/extensions/bootstrap
	url = https://github.com/theblacksmith/yii-bootstrap.git
[submodule "protected/extensions/yiihppie"]
	path = protected/extensions/yiihppie
	url = https://github.com/theblacksmith/Yiihppie.git
[submodule "protected/extensions/giix-haml"]
	path = protected/extensions/giix-haml
	url = https://github.com/theblacksmith/giix-haml.git
